[package]
name = "{{crate_name}}"
version = "0.1.0"
authors = [ "{{authors}}" ]
edition = "2021"
license = "MPL-2.0"
description = "{{description}}"

[features]
default = ["std"]
std = ["concordium-std/std", "concordium-cis2/std"]
bump_alloc = ["concordium-std/bump_alloc"]

[dependencies]
concordium-std = {version = "9.0", default-features = false}
concordium-cis2 = {version = "6.0", default-features = false}

[dev-dependencies]
concordium-smart-contract-testing = "4.0"

[lib]
crate-type=["cdylib", "rlib"]

[profile.release]
codegen-units = 1
opt-level = "s"
