.stack-work/
*~
*.swp
*.out
*.dll
*.exe
*.a
*.pdf
*.csv

.stack-work
target
*.json
/.dir-locals.el
*.bin
pkg
*.hie
*.iml
*.state-*
*.state

Cargo.lock

*.wasm.v1
*.wasm.v0

# Editor specific
**/.helix

# Nix artifacts
**/*.nix
**/flake.lock

.idea