# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "{{ crate_name }}"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
authors = ["{{ authors }}"]

[features]
default = ["std"]
std = ["concordium-std/std"]
bump_alloc = ["concordium-std/bump_alloc"]

[dependencies]
concordium-std = { version = "10.1", default-features = false }

[dev-dependencies]
concordium-smart-contract-testing = "4.3"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = "s"
codegen-units = 1
