# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "{{crate_name}}"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"
authors = [ "{{authors}}" ]
description = "{{description}}"

[features]
default = ["std", "crypto-primitives", "bump_alloc"]
std = ["concordium-std/std", "concordium-cis2/std"]
bump_alloc = ["concordium-std/bump_alloc"]
crypto-primitives = ["concordium-std/crypto-primitives"]

[dependencies]
concordium-std = {version = "10.0", default-features = false, features = ["concordium-quickcheck"]}
concordium-cis2 = {version = "6.1", default-features = false}
quickcheck = {version = "1"}

[dev-dependencies]
concordium-smart-contract-testing = "4.2"

[lib]
crate-type=["cdylib", "rlib"]

[profile.release]
opt-level = "s"
codegen-units = 1
